In [1]:
import numpy as np
import pandas as pd

In [2]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index = list(zip(outside,inside)) # Cria uma lista de tuplas

In [6]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [9]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [10]:
df

             A         B
G1 1 -0.369927 -0.583133
   2 -1.052825  0.718029
   3  0.557035 -1.867267
G2 1  0.143327  0.116689
   2 -0.386412 -0.991692
   3  0.294626 -0.115653

In [11]:
# Como acessar
df.loc['G1']

          A         B
1 -0.369927 -0.583133
2 -1.052825  0.718029
3  0.557035 -1.867267

In [12]:
df.loc['G1'].loc[1]

A   -0.369927
B   -0.583133
Name: 1, dtype: float64

In [13]:
df.index.names

FrozenList([None, None])

In [14]:
df.index.names = ['Grupo', 'Numero']

In [15]:
df

                     A         B
Grupo Numero
G1    1      -0.369927 -0.583133
      2      -1.052825  0.718029
      3       0.557035 -1.867267
G2    1       0.143327  0.116689
      2      -0.386412 -0.991692
      3       0.294626 -0.115653

In [16]:
df.xs('G1')

               A         B
Numero
1      -0.369927 -0.583133
2      -1.052825  0.718029
3       0.557035 -1.867267

In [17]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -0.369927 -0.583133
G2     0.143327  0.116689